<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Config Schema Creator</title>

    <link rel="stylesheet" href="/public/styles/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>
    <div id="menu">
        <ul>
            <li><a href="index.html">Schema Creator</a></li>
            <li><a href="config.html">Config Schema Creator</a></li>
        </ul>
    </div>
    
     <div class="header">
        <div class="logoHeader">
            <img src="/public/images/logoDP6.png" alt="Logo DP6" id="logo">
        </div>
        <div class="titleHeaderConfig">
            <h1>Config Schema Creator</h1>
        </div>
    </div>

    <div class="container">

        <div class="content">
            <label for="url"> URL :</label>
            <input type="text" id="url" placeholder="URL">
            <br>
            <label for="schema_name"> Schema Name :</label>
            <input type="text" id="schema_name" placeholder="Schema Name">
            <br>
            <label for="dataLayer"> Data Layer :</label>
            <input type="text" id="dataLayer" placeholder="Data Layer">
            <br>


            <div class="divAddButton">
                <button id="buttonAddConfig">
                    Add
                </button>
                <button id="buttonRemoveConfig">
                    Remove
                </button>
            </div>
        </div>

        <div class="schemaView">
            <pre id="schemaExample">

            </pre>
        </div>

    </div>
    <div class="buttonDownload">
        <button id="download" onclick="onDownload()">Download</button>
    </div>
        <div class="buttonCopy">
            <button id="copy" onclick="onCopy()">Copy text</button>
    </div>
    <script src="/public/scripts/main.js"></script>
    <script src="/public/scripts/config.js"></script>
    <script src="/public/scripts/downloadConfig.js"></script>
</body>

</html>