<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Creator</title>

    <link rel="stylesheet" href="/public/styles/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="logoHeader">
            <img src="/public/images/logoDP6.png" alt="Logo DP6" id="logo">
        </div>
        <div class="titleHeader">
            <h1>Schema Creator</h1>
        </div>
    </div>

    <div class="container">

        <div class="content">
            <label for="eventName"> Event :</label>
            <input type="text" id="eventName" placeholder="Event Name">

            <div class="divAddButton">
                <button id="buttonAddEvent">
                    Add
                </button>
            </div>

            <br>

            <label for="eventSelected">Events Added :</label>
            <select name="eventSelected" id="eventSelected">
                <option disabled selected class="optionLabel">Events</option>
            </select>

            <div class="divAddButton">
                <button id="buttonRemoveEvent" hidden>
                    Remove
                </button>
            </div>

            <br>

            <label for="propertySelected" hidden>Properties Added :</label>
            <select name="propertySelected" id="propertySelected" hidden>
                <option disabled selected class="optionLabel">Properties</option>
            </select>
            <br>

            <label for="newProperty" hidden> New Property :</label>
            <input type="text" id="newPropertyNamer" placeholder="Property Name" hidden>
            <br>

            <select name="newPropertyType" id="newPropertyType" hidden>
                <option disabled selected class="optionLabel">Property Type</option>
                <option value="string" class="options"> String </option>
                <option value="number" class="options"> Number </option>
                <option value="boolean" class="options"> Boolean </option>
                <option value="object" class="options"> Object </option>
                <option value="array" class="options"> Array </option>
            </select>
            <br>

            <select name="newPropertyRequired" id="newPropertyRequired" hidden>
                <option disabled selected class="optionLabel">Property Mode</option>
                <option value="required" class="options"> Required </option>
                <option value="nonRequired" class="options"> Non-required </option>
            </select>
            <br>

            <input type="text" id="newPropertyValue" placeholder="Property Value" hidden>

            <div class="divAddButton">
                <button id="buttonAddProperty" hidden>
                    Add
                </button>
            </div>

        </div>

        <div class="schemaView">
            <p id="schemaExample">
                {
                "$schema": "",
                "title": "The Root Schema",
                "array": {
                "$id": "#/propertys/schema",
                "type": "array",
                "items": [

                ]
                }
                }
            </p>
        </div>

    </div>

    <script src="/src/main.js"></script>
</body>

</html>