<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Schema Creator</title>

    <link rel="stylesheet" href="/public/styles/main.css">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet">
</head>

<body>

    <div class="header">
        <div class="logoHeader">
            <img src="/public/images/logoDP6.png" alt="Logo DP6" id="logo">
        </div>
        <div class="titleHeader">
            <h1>Schema Creator</h1>
        </div>
    </div>

    <div class="container">

        <div class="content">
            <label for="eventName"> Event :</label>
            <input type="text" id="eventName" placeholder="Event Name">

            <div class="divAddButton">
                <button id="buttonAddEvent">
                    Add
                </button>
            </div>

            <br>

            <label for="eventSelected">Events Added :</label>
            <select name="eventSelected" id="eventSelected">
                <option disabled selected class="optionLabel">Events</option>
            </select>

            <div class="divEventsButtons">
                <button id="buttonRemoveEvent" hidden>
                    Remove
                </button>
                <button id="buttonEditEvent" hidden>
                    Edit
                </button>
            </div>

            <br>

            <label for="propertySelected">Properties Added :</label>
            <select name="propertySelected" id="propertySelected">
                <option disabled selected class="optionLabel">Properties</option>
            </select>

            <div class="divPropertyButtons">
                <button id="buttonRemoveProperty" hidden>
                    Remove
                </button>
                <button id="buttonEditProperty" hidden>
                    Edit
                </button>
            </div>

            <br>

            <label for="newPropertyName"> New Property :</label>
            <input type="text" id="newPropertyName" placeholder="Property Name" disabled>
            <br>

            <select name="newPropertyType" id="newPropertyType" disabled>
                <option disabled selected class="optionLabel">Property Type</option>
                <option value="string" class="options"> String </option>
                <option value="number" class="options"> Number </option>
                <option value="boolean" class="options"> Boolean </option>
                <option value="object" class="options"> Object </option>
                <option value="array" class="options"> Array </option>
            </select>
            <br>

            <select name="newPropertyValidation" id="newPropertyValidation" hidden>
                <option value="enum" class="options"> Enum </option>
                <option value="pattern" class="options"> Pattern </option>
            </select>
            <br>

            <select name="newPropertyRequired" id="newPropertyRequired" disabled>
                <option disabled selected class="optionLabel">Property Mode</option>
                <option value="required" class="options"> Required </option>
                <option value="nonRequired" class="options"> Non-required </option>
            </select>
            <br>

            <input type="text" id="newPropertyValue" placeholder="Property Value" hidden disabled>
            <br>

            <label for="radioBtnBox">Where property should be added ?</label>
            <div class="radioBtnBox">
                <input type="radio" id="newPropertyPlace" name="newPropertyPlace" value="event" >
                <label for="newPropertyPlace">Selected Event</label>

                <input type="radio" id="newPropertyPlace" name="newPropertyPlace" value="property" >
                <label for="newPropertyPlace">Selected Property</label>
            </div>


            <div class="divAddButton">
                <button id="buttonAddProperty" hidden>
                    Add
                </button>
            </div>

        </div>

        <div class="schemaView">
            <pre id="schemaExample">
{
    "$schema": "",
    "title": "The Root Schema",
    "array": {
        "$id": "#/propertys/schema",
        "type": "array",
        "items": []
    }
}
            </pre>
        </div>

    </div>

    <script src="/public/scripts/main.js"></script>
    <script src="/public/scripts/events.js"></script>
    <script src="/public/scripts/properties.js"></script>
    
</body>

</html>