:root {
    --color-background: rgba(0, 0, 0, 0.31);
    --color-text-base: #000000;
}

body {
    background: rgba(0, 0, 0, 0.31);
}

input,
select {
    height: 20px;
    background: #D9D9D9;
    border: none;
    border-radius: 5px;

    outline: none;
}

label {
    padding-bottom: 5px;
}

body,
input,
button,
textarea,
select,
label {
    font-size: 1rem;
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-text-base);
}

.header {
    float: left;
    padding-top: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titleHeader {
    margin-left: 500px;
}
.titleHeaderConfig {
    margin-left: 450px;
}

#logo {
    width: 100px;
}

.container {
    padding-top: 10px;
    margin-left: 25%;
    float: left;
    display: flex;
    justify-content: space-around;
}

.content, .popup-contentProperties {
    display: flex;
    flex-direction: column;
    justify-content: start;

    font-size: 14px;
}

.schemaView {
    width: 500px;
    margin-left: 10%;
    background: #D9D9D9;
    border-radius: 15px;
}

.divAddButton, .divPropertyButtons, .divEventsButtons{
    padding-top: 5px;
}

button {
    font-family: 'Ubuntu', sans-serif;
    color: var(--color-text-base);
    text-decoration: none;
    border-radius: 3px;
}

select {
    color: rgba(0, 0, 0, 0.50);
}

#buttonAddEvent, #buttonAddProperty, #buttonAddEventPopup, #buttonAddPropertyPopup, #buttonAddObj,#buttonAddConfig {
    background: #7fd460;
}

#buttonAddEvent:hover, #buttonAddProperty:hover, #buttonAddObj:hover,#buttonAddConfig:hover {
    background: #67cd42;
}

#buttonRemoveEvent, #buttonRemoveProperty, #buttonRemoveConfig {
    background: #f97f6d;
}

#buttonRemoveEvent:hover, #buttonRemoveProperty:hover, #buttonCancelEventPopup:hover, #buttonCancelPropertyPopup:hover, #buttonRemoveConfig:hover {
    background: #f05a43;
}

#buttonEditEvent, #buttonEditProperty{
    background: #edbb56;
}

#buttonEditEvent:hover, #buttonEditProperty:hover {
    background: rgb(240, 167, 22);
}

.popup-wrapper, .popup-wrapperProperties{
display: none;
background: rgba(0,0,0, .5);
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
}

.popup{
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 25%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 15px;
}

.popupProperties{
    text-align: center;
    width: 100%;
    max-width: 400px;
    height: 45%;
    margin: 10% auto;
    padding: 20px;
    background: white;
    position: relative;
    border-radius: 15px;
}

.h2-popup, .h2-popupProperties{
    padding-bottom: 10px;
}
.popup-close, .popup-closeProperties{
    position: absolute;
    top: 5px;
    right: 10px;
    cursor: pointer;
}
#menu{
    float: left;
    width: 100%;
    background: #D9D9D9;
    border-radius: 50px;
}

#menu ul{
    text-align: center;
    margin-top: 15px;
}

#menu ul li{
    display: inline; 
    padding: 10px 20px; 
    text-align: center;

}
#menu ul li:hover{
    background-color: #d0cecf;
}

#menu ul li a{
    color: #000000;
    font-weight: bold;

}